.visualizer-app {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Add a 10px gap between the child divs */
  height: 100vh;
}

.user-controls-container {
  flex: 1;
  width: 25%;
}

.array-container,
.code-container {
  flex: 1;
  width: 37.5%;
}

.array-container {
  display: flex;
  justify-content: space-evenly;
}

.array-item {
  flex-grow: 1;
  background-color: pink;
  margin-right: 2px;
}
